# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed


# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# node-waf configuration
.lock-wscript

# build
dist

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# TypeScript definitions
typings/

#Misc

.DS_Store
.vscode